<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h2>Tuple Trivia is fun and fast-paced trivia 
      game that really tests your knowledge on things 
      you never knew you one day would come in handy!</h2>
      <p>Thanks to our talented developers that have gone over and beyond, 
        their efforts and hard work hope to bring you a fun experience!</p>
    <h1>Meet The Team!</h1>
    <h2>Tanzim Azad</h2>
    <h3>He is a junior studying CS and minoring in Real Estate and bikes</h3>
    <h2>Blaizun Diamond</h2>
    <h3>He is a senior studying CS and minoring in Creative Technology Design</h3>
    <h2>Eric Osicka</h2>
    <h3>He is a junior studying Business and minoring in CS and plays chess</h3>
    <h2>Andrew Best</h2>
    <h3>He is a sophomore studying CS and minoring in Math</h3>
    <h2>Ryan Slocum</h2>
    <h3>He is a sophomore studying CS and minoring in leadership</h3>
  </div>
</main>

<%- include ('../partials/footer') %>