<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>

  <div class = 'container'>
    <div class="bouncing-text">
      <div class="Br">(</div>
      <div class="t">T</div>
      <div class="u">U</div>
      <div class="p">P</div>
      <div class="l">L</div>
      <div class="e">E</div>
      <div class="comma">,</div>
      <div class="t2">T</div>
      <div class="r">R</div>
      <div class="i">I</div>
      <div class="v">V</div>
      <div class="i2">I</div>
      <div class="a">A</div>
      <div class="Bl">)</div>

      <!-- <div class="shadow"></div>
      <div class="shadow-two"></div> -->
    </div>
  </div>

<div class="container" style="margin-top: 50px; margin-bottom: 50; align-items: center;">
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="home-list">
    <div>
        <h2><i class="fa-solid fa-play"></i> Play</h2>
    </div>
    <div>
        <h2><i class="fa-solid fa-question"></i> How to Play</h2>
    </div>
    <div>
        <h2><i class="fa-solid fa-circle-info"></i> About</h2>
    </div>
    <div>

      <h2><i class="fa-solid fa-ranking-star"></i> Leaderboard</h2>
  </div>
  </div>
</div>


</main>

<%- include ('../partials/footer') %>