<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>How to Play</h1>
    <p>Choose a difficulty, choose categories that interest you, press play!</p>
    <h2>Tuple Trivial is as easy as pressing play!</h2>
    <p><a href="/play">Play now!</a></p>
    <h2>Select higher difficulties to challenge yourself for more points!</h2>
    <h2>Play multiplayer too!</h2>
    <p><a href="/play">Play multiplayer!</a></p>
    <h2>Play how you want!</h2>
    <p>Tuple Trivia offers optional category settings, so you only see the questions you want to!</p>
  </div>
</main>

<%- include ('../partials/footer') %>