<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Leaderboards</h1>
    <h2>***Add leaderboards content here***</h2>
  </div>
</main>

<%- include ('../partials/footer') %>