<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1 id = "settingH">Settings</h1>
    <form action="/play" method="POST">

      <div class = "container">
      <fieldset class="form-group row">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0" style = "font-weight: bold;">Difficulty</legend>
          <!-- div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="difficulty" id="gridRadios1" value="easy" checked>
              <label class="form-check-label" for="gridRadios1">
                Easy
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="difficulty" id="gridRadios2" value="medium" checked>
              <label class="form-check-label" for="gridRadios2">
                Medium
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="difficulty" id="gridRadios3" value="hard">
              <label class="form-check-label" for="gridRadios3">
                Hard
              </label>
            </div>< -->
            <div class="wrapper">
              <input type="radio" name="difficulty" id="option-1" value = "easy">
              <input type="radio" name="difficulty" id="option-2"checked value = "medium">
              <input type="radio" name="difficulty" id="option-3" value = "hard">
                <label for="option-1" class="option option-1">
                   <span>Easy</span>
                   </label>
                <label for="option-2" class="option option-2">
                  
                   <span>Medium</span>
                </label>
                <label for="option-3" class="option option-3">
                  
                   <span>Hard</span>
                </label>
             </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0" style = "font-weight: bold;">Mode</legend>
          <div class="col-sm-10">
            <div class="wrapper">
              <input type="radio" name="playerCount" id="option-4" checked value = "1">
              <input type="radio" name="playerCount" id="option-5" value = "2">
                <label for="option-4" class="option option-4">
                  
                   <span>Single Player</span>
                   </label>
                <label for="option-5" class="option option-5">
                   <span>Multiplayer</span>
                </label>
             </div>
          </div>
        </div>
      </fieldset>
      <fieldset class ="form-group col">
        
      </fieldset>
    
      <div class="form-group col">
        <legend class="col-form-label col-sm-2 pt-0" style = "font-weight: bold;">Categories</legend>
        
            <div class="container">
              <ul class="ks-cboxtags">
                <li><input type="checkbox" id="checkboxOne" name = "categories" value="science"><label for="checkboxOne" >Science</label></li>
                <li><input type="checkbox" id="checkboxTwo" name = "categories" value="films_and_tv" checked><label for="checkboxTwo">Film + TV</label></li>
                <li><input type="checkbox" id="checkboxThree" name = "categories" value="music" checked><label for="checkboxThree" >Music</label></li>
                <li><input type="checkbox" id="checkboxFour" name = "categories" value="history"><label for="checkboxFour" >History</label></li>
                <li><input type="checkbox" id="checkboxFive" name = "categories" value="geography"><label for="checkboxFive" >Geography</label></li>
                <li><input type="checkbox" id="checkboxSix" name = "categories" value="art_and_literature" checked><label for="checkboxSix">Art + Literature</label></li>
                <li><input type="checkbox" id="checkboxSeven" name = "categories" value="sport_and_leisure"><label for="checkboxSeven">Sports</label></li>
                <li><input type="checkbox" id="checkboxEight" name = "categories" value="general_knowledge"><label for="checkboxEight">General Knowledge</label></li>
                <li><input type="checkbox" id="checkboxNine" name = "categories" value="food_and_drink"><label for="checkboxNine">Food</label></li>
              </ul>
            
            </div>

          </div>
        </div>
      </div>
    </div>
      <div class="form-group col">
        <div class="col-sm-10">
          <button id = "playbtn" type="submit" class="btn btn-primary">Play</button>
        </div>
      </div>
    </form>

  </div>
</main>

<%- include ('../partials/footer') %>