<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Play</h1>
    <a type="button" class="btn btn-primary btn-lg" href="/play/single">Single Player</a>
    <a type="button" class="btn btn-secondary btn-lg" href="/play/multi">Multi Player</a>
  </div>
</main>

<%- include ('../partials/footer') %>