<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Play</h1>
    <h2>***Add trivia game content here***</h2>
  </div>
</main>

<%- include ('../partials/footer') %>